body{
    font-family: "Avenir Next";
}
.header{
    background-color: #f7f2b4;
    height: 90px;
}
.main{
    padding: 100px 80px;
    
}


.copy-container h1{
    font-size: 140;

}

.copy-container h2{
    font-size: 60;

}

span{
    color: palevioletred;
}

.section-title{
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px;
    margin-bottom: 50px;
    font-size: 28px;

}

.contents{
    height: 500px;
    margin-top: 100px;
}

.contents p{
    font-size: 30px;
    text-align: center;
}
.content-item p{
    margin-top: 30px;
    font-size: 24px;
}

.contents-item{
    float: left;
    margin-right: 85px;
    height: 40px;
    display: table-cell;
    padding-top: 150px;
    
}







.header-list li{
    list-style: none;
    float: left;
    padding: 33px 20px;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}


.contact-form{
    padding-top: 100px;
    padding-bottom: 100px;
}
input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;

}
.contact-submit{
    background-color: #dee7ec;
    color: #889eab;
  }

  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 41px;
    
    
    
  }
  


.footer-logo{
    float: left;
    font-size: 32px;
    padding: 40px;
    color: #fff;
}

.footer-list{
    float: right; 
    padding: 40px;
}

.footer-list li{
    list-style: none;
    color: #fff;
    padding: 10px;
    
}
.footer-list li a{
    color: #fff;
}

